*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

:root{
    --sky-blue: #8ecae6ff;
    --blue-green: #219ebcff;
    --prussian-blue: #023047ff;
    --selective-yellow: #ffb703ff;
    --ut-orange: #fb8500ff;
}

h1{
    color:var(--ut-orange)
}
body{
    background-color: var(--prussian-blue);
}